:root {
  --background-color: #f5f5f5;
  --background-secondary: #e6dfda;
  --font-color: #353432;
  --highlight-color: #838171;
  --secondary-color: #919c9d;
  --text-font: "Karla", sans-serif;
  --title-font: "Tenor Sans", sans-serif;
}

body {
  font-family: var(--text-font);
  color: var(--font-color);
}

h2 {
  font-family: var(--text-font);
  font-size: 32px;
  padding: 30px 0;
}

.navbar {
  margin: 0 50px;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-nav {
  font-size: 20px;
}

.nav-link .active {
  color: var(--font-color);
}

.nav-link {
  color: var(--secondary-color);
}

.main-title {
  font-family: var(--title-font);
  color: var(--font-color);
  font-size: 36px;
}

hr.line {
  margin: 0px 50px;
  border-top: #353432 1px solid;
  border-radius: 10px;
}

.presentation {
  text-align: center;
  font-size: 26px;
  margin: 50px;
}

.hero {
  background-color: #e6dfda;
  padding: 40px;
  width: 100%;
}

.interior h1 {
  font-family: var(--title-font);
  font-size: 48px;
  margin: 40px 0;
}

.web-dev h1 {
  font-family: var(--title-font);
  font-size: 48px;
  margin: 40px 0;
}

.vertical-line {
  display: flex;
  justify-content: center;
}

.vert-line {
  width: 2px;
  height: 500px;
  margin: 0;
  border: #838171 1px solid;
}

.check-work {
  padding: 10px 35px;
  color: #838171;
  text-decoration: none;
  font-size: 18px;
  border: #f5f5f5;
  border-radius: 6px;
  background: #f5f5f5;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: 250ms ease-in-out;
}

.check-work:hover {
  background: #838171;
  color: #f5f5f5;
}

.footer p {
  font-size: 24px;
  padding: 50px 10px;
}

.links {
  padding: 50px 10px;
}

.links a {
  padding-right: 10px;
  text-decoration: none;
  color: #838171;
}

footer img {
  max-height: 26px;
}

.cta {
  margin: 0 0;
}

.about-body {
  background-color: #f5f5f5;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me {
  padding: 60px 30px 60px 120px;
}

.about-me p {
  font-size: 22px;
}

.to-contact {
  color: #838171;
  text-decoration: none;
  font-size: 22px;
  transition: 250ms ease-in-out;
}

.to-contact:hover {
  text-decoration: underline;
}

.profile-pic {
  max-width: 320px;
  max-height: 450px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 50px 25px;
}

.cta-1 {
  font-size: 30px;
  color: #838171;
  font-weight: 200;
  font-family: var(--text-font);
}

.cta-2 {
  font-size: 36px;
  color: #353432;
  font-family: var(--title-font);
  padding: 10px 0;
}

.contact-main {
  background-color: #f5f5f5;
  padding: 70px;
}

.contact-main .row div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact-main img {
  width: 70px;
  height: 70px;
  margin: 20px;
  transition: 200ms ease;
}

.contact-main img:hover {
  scale: 1.1;
}

.contact-main a {
  font-family: var(--text-font);
  color: #353432;
  font-size: 26px;
  text-decoration: none;
}

.contact-main a:hover {
  color: #838171;
}

.work-title {
  font-family: var(--title-font);
  font-size: 36px;
  color: var(--font-color);
  padding: 50px 0;
}

.work-body {
  background-color: var(--background-color);
  padding: 0 50px 50px 50px;
}

.work-body img {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.work-body hr {
  margin: 60px 0;
}

.work-desc h2 {
  padding: 20px 0;
}

.work-desc p {
  font-size: 22px;
  color: var(--font-color);
}

.work-link {
  color: var(--highlight-color);
  font-size: 22px;
  text-decoration: none;
}

.work-link:hover {
  text-decoration: underline;
}

.skills {
  padding: 50px;
}

.skill {
  padding: 0 0 30px 0;
}

.skill img {
  transition: 250ms ease;
}

.skills img:hover {
  scale: 1.1;
}

@media only screen and (max-width: 600px) {
  .main-title {
    font-size: 26px;
  }
  .vert-line {
    display: none;
  }
  .line-mobile {
    margin: 50px;
    border: #838171 1px solid;
  }
  .about-me {
    padding-right: 50px;
  }
  .profile-pic {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 601px) {
  .line-mobile {
    display: none;
  }
}
