:root {
  --background-color: #f5f5f5;
  --background-secondary: #e6dfda;
  --font-color: #353432;
  --highlight-color: #838171;
  --secondary-color: #919c9d;
  --text-font: "Karla", sans-serif;
  --title-font: "Tenor Sans", sans-serif;
}

.navbar {
  margin: 0 50px;
  background-color: #ffffff;
}

.main-title {
  font-family: var(--title-font);
  font-size: 36px;
}

hr.line {
  margin: 10px 50px;
  border-top: #353432 1px solid;
  border-radius: 10px;
}

.presentation {
  text-align: center;
  font-size: 22px;
  margin: 50px;
}

.hero {
  background-color: #e6dfda;
  padding: 40px;
  width: 100%;
}

.vertical-line {
  display: flex;
  justify-content: center;
}

.vert-line {
  width: 2px;
  height: 500px;
  margin: 0;
  border: #838171 1px solid;
}

.interior h1 {
  font-family: var(--title-font);
  font-size: 48px;
}

.web-dev h1 {
  font-family: var(--title-font);
  font-size: 48px;
}
